@media (max-width: 73.25em) {
  .resolve-heading {
    font-size: 5rem;
  }

  .log-text {
    font-size: 2rem;
  }
}

@media (max-width: 67em) {
  .resolve-heading {
    font-size: 4.6rem;
  }
  .contact-phone-email {
    gap: 2rem;
  }

  .log-text {
    font-size: 1.8rem;
  }
}

@media (max-width: 67em) {
  .footer-top-flex {
    gap: 6rem;
  }
  .heading-primary {
    font-size: 6.4rem;
  }
  .img-box-grid {
    gap: 0.8rem;
  }
  .heading-secondary {
    font-size: 3.8rem;
  }
  .img-box {
    width: 95%;
  }
  .heading-final {
    font-size: 2.4rem;
  }
  .troubleshoot-secondary {
    font-size: 5rem;
  }
  .log-heading {
    font-size: 5.8rem;
  }
  .intro-section {
    padding-top: 14rem;
  }

  .log-section,
  .troubleshoot-section,
  .resolve-section,
  .pricing-section,
  .register-section,
  .footer-section {
    padding: 7rem 0 7rem 0;
  }
  .better-stack-footer-info {
    max-width: 250px;
  }
}

@media (max-width: 63em) {
  .left-nav {
    gap: 2.4rem;
  }
  .main-nav {
    gap: 2rem;
  }
  .contact-phone-email {
    display: none;
  }
  .better-stack-footer-text {
    display: none;
  }
  .footer-top-flex {
    border-bottom: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    order: 2;
  }

  .footer-bottom-flex {
    flex-direction: column;
    gap: 0.5rem;
  }
  .footer-container {
    align-items: center;
    justify-content: center;
    width: auto;
    text-align: center;
  }
  .better-stack-footer-info {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .footer-bottom-left {
    padding: 0.8rem 0;
  }
  .footer-bottom-right {
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 60.625em) {
  .log-img {
    width: 70rem;
    top: -3rem;
    right: -2rem;
  }

  .log-img-col {
    width: 59rem;
  }
  .heading-primary {
    font-size: 6rem;
  }

  .resolve-heading {
    text-align: center;
    font-size: 5rem;
  }
  .third-heading {
    font-size: 4.2rem;
  }
  .pricing-text {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

@media (max-width: 57em) {
  .left-nav {
    gap: 1.4rem;
  }
  .main-nav {
    gap: 1.2rem;
  }
  .heading-primary {
    font-size: 5.2rem;
  }
  .troubleshoot-secondary {
    font-size: 4.2rem;
  }
  .log-text {
    font-size: 1.6rem;
  }
  .background-img {
    width: 125%;
    height: 110%;
    bottom: -5rem;
    left: -15rem;
  }
  .box-text-final {
    padding: 8rem 2rem;
  }
  .pricing-box-flex {
    justify-self: center;
    width: 80rem;
  }
}

@media (max-width: 53em) {
  .main-nav {
    gap: 3.4rem;
  }
  .nav-link {
    font-size: 1.3rem;
  }
  .nav-btn {
    font-size: 1.3rem;
  }
  .img-box-grid {
    gap: 1.8rem;
  }
  .background-img {
    width: 121%;
    height: 100%;
    bottom: 0rem;
    left: -7rem;
  }
  .troubleshoot-header {
    margin-bottom: 6rem;
  }
  .resolve-text {
    margin-bottom: 3rem;
  }
  .container-flex {
    max-width: 75rem;
  }
  .intro-section {
    padding: 9.6rem 0 6rem 0;
  }
  .log-grid {
    margin-bottom: 0rem !important;
  }
}

@media (max-width: 50em) {
  .btn-mobile-nav {
    display: block;
  }

  .header {
    padding: 0;
  }

  .main-nav {
    display: block;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main-nav-nav {
    flex-grow: 1;
    padding: 0 3.4rem;
    background-color: rgb(19, 21, 34);
    top: 52px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    opacity: 0;
    transition: all 0.3s ease-in;
    pointer-events: none;
    visibility: hidden;
    transform: translateY(100%);
  }

  .nav-btn {
    background-color: rgb(19, 21, 34);
  }

  .nav-open .main-nav-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .container {
    padding-right: 1rem;
  }
  .sign-nav {
    margin-right: 1.4rem;
  }
}

@media (max-width: 50em) {
  .subheading {
    margin-top: 10rem;
  }
  .heading-primary {
    padding: 0 6rem;
  }
  .intro-text {
    font-size: 1.6rem;
  }
  .logs-metrics {
    width: 110%;
  }
  .section-number {
    margin-bottom: 2rem;
  }
  .log-heading {
    font-size: 5.6rem;
    margin-bottom: 1rem;
  }
  .log-text {
    padding-right: 16rem;
  }
  .log-img-col {
    width: 47%;
  }
  .log-img {
    width: 64rem;
    top: -5rem;
    right: -31rem;
  }
  .log-text-col {
    justify-content: start;
    padding-top: 5rem;
    padding-left: 3rem;
  }
  .span-text {
    font-size: 1.6rem;
  }
  .log-colored-text {
    font-size: 3.4rem;
  }
  .log-trird-header-text {
    font-size: 3.4rem;
  }
  .third-header {
    height: 12rem;
  }
  .log-img-col {
    height: 48rem;
  }
  .resolve-text {
    padding: 2rem 0 !important;
  }
  .box-text-final {
    padding: 2rem 2rem;
  }
  .heading-final {
    font-size: 1.8rem;
    text-align: start;
    line-height: 1.2;
  }
  .img-box-text {
    font-size: 1.4rem;
  }
  .pricing-box-flex {
    width: 70rem;
  }
  .pricing-heading {
    text-align: start;
    font-size: 3.6rem;
  }
  .register-section {
    padding: 5rem 0 7rem 0;
  }
  .footer-left-col {
    column-gap: 4rem;
    row-gap: 4rem;
  }
  .footer-right-col {
    margin-left: 1rem;
  }
  .grid:not(:last-child) {
    margin-bottom: 0rem;
  }

  .a-header {
    font-size: 1.4rem;
  }
  .a-text {
    font-size: 1.3rem;
    line-height: 1.2;
  }
  .third-media {
    margin-top: 8rem;
  }
  .troubleshoot-heading-text {
    padding-right: 0 !important;
  }
}

@media (max-width: 45em) {
  .container {
    padding-left: 0;
  }
  .footer-grid {
    grid-template-columns: 1fr !important;
    gap: 4rem;
  }
  .footer-right-col {
    margin: 0;
  }
  .footer-left-col {
    column-gap: 0;
  }
  .heading-primary {
    font-size: 4.2rem;
  }
  .intro-text {
    max-width: 36rem;
  }
  .input {
    width: 255px;
  }
  .submit {
    width: 190px;
  }
  .pricing-box-flex {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .left-pricing {
    width: 100%;
  }
  .pricing-container {
    width: 80%;
  }
  .right-pricing-container {
    margin-bottom: 2rem;
    padding-left: 5rem;
  }
  .container-flex {
    max-width: 80%;
  }
  .resolve-absolite-image {
    width: 38%;
    height: 27%;
  }
  .resolve-box-heading {
    line-height: 1.2;
  }
  .img-box {
    height: 100%;
  }
  .resolve-heading {
    font-size: 4.4rem;
  }
  .border-none {
    width: 65%;
  }
  .intro-footer-img {
    width: 104%;
    align-self: flex-end;
  }
  .img-box-grid {
    grid-template-columns: 1fr;
  }
  .troubleshoot-box {
    justify-self: center;
    width: 80%;
    height: auto;
  }
  .forth-part {
    flex-direction: column;
  }
  .img-box {
    width: 80%;
    justify-self: center;
  }
  .resolve-first-box-image {
    justify-self: center;
  }
  .img-box:first-child {
    justify-self: center;
  }
  .log-img {
    width: 300%;
    right: -27rem;
  }
  .background-img {
    height: 85%;
    bottom: 7rem;
  }
  .troubleshoot-header {
    justify-content: space-between;
  }
  .log {
    padding: 0 4.4rem;
  }
  .heading-secondary {
    font-size: 4.4rem;
  }
  .log-text {
    font-size: 1.4rem;
  }
  .third-heading {
    font-size: 3.6rem;
  }
}

@media (max-width: 38em) {
  .subheading {
    font-size: 1.4rem;
  }
  .heading-primary {
    font-size: 3.8rem;
    line-height: 5rem;
    margin-bottom: 5rem;
  }
  .input {
    width: 200px;
    height: 40px;
  }
  .submit {
    width: 158px;
    height: 40px;
    text-align: center;
    padding: 1rem;
  }
  .start-free-demo-text {
    font-size: 1.2rem;
  }
  .intro-text {
    font-size: 1.4rem;
    padding-bottom: 3rem;
  }
  .intro-footer-text {
    font-size: 1.2rem;
  }
  .intro-section {
    padding: 6rem 0 4rem 0;
  }
  .log-section,
  .troubleshoot-section,
  .resolve-section,
  .pricing-section,
  .register-section,
  .footer-section {
    padding: 4rem 0 4rem 0;
  }
  .section-number {
    line-height: 1.2;
    font-size: 1.2rem;
  }
  .heading-secondary {
    font-size: 4rem;
  }
  .log-text {
    padding-right: 25rem;
  }
  .log-img {
    width: 280%;
    right: -19rem;
  }
  .log-text-col {
    padding: 0;
  }
  .span-text {
    font-size: 1.4rem;
  }
  .log-colored-text {
    font-size: 2.8rem;
  }
  .log-trird-header-text {
    font-size: 3rem;
  }
  .third-header {
    height: 10rem;
  }
  .log-info-text {
    line-height: 1.4;
    margin-top: 1rem;
    width: 16rem;
  }
  .log-grid {
    height: 30rem;
  }
  .background-img {
    height: 63%;
    bottom: 8rem;
  }
  .troubleshoot-header {
    padding-top: 3rem;
    justify-content: start;
  }
  .troubleshoot-number {
    font-size: 1rem;
    margin-bottom: 4rem;
  }
  .troubleshoot-secondary {
    margin-bottom: 4rem;
  }
  .troubleshoot-heading-text {
    width: 80%;
  }
  .troubleshoot-header {
    height: auto;
  }
  .fix-text {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .img-box {
    width: 80%;
  }
  .heading-secondary {
    font-size: 3.4rem;
    line-height: 1.4;
  }
  .heading-final {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 1.2rem;
  }
  .img-box-text {
    font-size: 1.2rem;
  }
  .explore-flex {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .box-text-final {
    padding: 1rem;
  }
  .resolve-number {
    margin-bottom: 0.4rem;
  }
  .third-media {
    margin-top: 5rem;
  }
  .third-heading {
    font-size: 3.2rem;
  }
  .flex-heading {
    font-size: 1.8rem;
    line-height: 1.4;
  }
  .flex-text {
    font-size: 1.4rem;
  }
  .flex-text-container {
    padding: 0 2rem 0 0;
  }
  .pricing-box-flex {
    width: 85%;
  }
  .footer-left-col {
    row-gap: 3rem;
  }
  .first-col,
  .second-col,
  .third-col,
  .forth-col,
  .fifth-col,
  .sixth-col,
  .seventh-col {
    row-gap: 1.2rem;
  }
}

@media (max-width: 32.2em) {
  .log-text {
    padding-right: 15rem;
  }
  .log-img {
    right: -16rem;
  }
  .log-text-col {
    margin-right: 2rem;
  }
  .log {
    margin-bottom: 7rem;
  }
}

@media (max-width: 30em) {
  .third-header {
    height: 13rem;
  }
  .log-img {
    top: revert-layer;
  }
  .heading-primary {
    font-size: 3.4rem;
    line-height: 4rem;
  }
}

@media (max-width: 26.4em) {
  .subheading {
    letter-spacing: 0.14em;
    font-size: 1.2rem;
  }
  .heading-primary {
    padding: 0 4rem;
    line-height: 1.2;
  }
  .intro-text {
    font-size: 1.2rem;
  }
  .input {
    width: 170px;
    height: 28px;
  }
  .submit {
    width: 122px;
    height: 35px;
    font-size: 1rem;
  }
  .intro-text {
    margin: 0 2rem;
  }
  .fix-text {
    padding-right: 13rem;
    font-size: 1.3rem;
  }
  .log-img-col {
    height: 25rem;
  }
  .log-img {
    right: -11rem;
  }
  .log {
    padding: 0 2rem;
    margin-bottom: 0;
  }
  .heading-secondary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 0;
  }
  .img-box {
    width: 90%;
  }
  .log-img-col {
    height: 28rem;
  }
  .log-img {
    right: -15rem;
    width: 327%;
  }
  .log-trird-header-text {
    font-size: 2.4rem;
  }
  .third-header {
    height: 9rem;
  }
  .log-info-text {
    width: 15rem;
  }
  .log-text {
    line-height: 2.2rem;
  }
  .flex-heading {
    font-size: 1.6rem;
  }
  .flex-text {
    line-height: 1.2;
  }
  .flex-text-container {
    padding: 0 1rem 0 0;
  }
  .pricing-container {
    width: 100%;
  }
  .left-pricing {
    padding: 2rem;
  }
  .pricing-box-flex {
    margin-bottom: 4rem;
  }
  .right-pricing-container {
    gap: 0.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .intro-footer-img {
    width: 97%;
  }
}

@media (max-width: 25em) {
  .subheading {
    margin-top: 5rem;
  }
  .input {
    width: 150px;
  }
  .submit {
    width: 128px;
  }
  .log-text {
    line-height: 1.8rem;
  }
  .log-img {
    top: -33px;
    right: -11rem;
    width: 550%;
  }
  .log-text-col {
    justify-content: center;
  }
  .img-box-grid {
    margin-top: 2rem;
  }
  .troubleshoot-header {
    margin-bottom: 4rem;
  }
  .resolve-flex {
    flex-direction: column;
    row-gap: 4rem;
  }
  .flex-text-container {
    padding: 0;
  }
  .flex-heading {
    margin-top: 1rem;
    margin-bottom: 0.4rem;
  }
  .footer-left-col {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 4rem;
    row-gap: 5rem;
  }
  .footer-right-col {
    margin-left: 4rem;
  }
  .forth-col {
    order: 5;
  }
  .nav {
    padding-left: 2rem;
  }
  .pricing-box-flex {
    margin-inline: auto;
  }
}
