/*Navigation section*/

.header {
  border-bottom: rgb(59 130 246 / 0.5);
  height: 5.2rem;
  background-color: rgb(11, 12, 20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.2rem;
  border-bottom: 1px solid rgb(114 125 161 / 0.15);
}

.nav-logo {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  gap: 3.2rem;
  align-items: first baseline;
  list-style: none;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.right-nav {
  display: flex;
}

.sign-nav {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.better-stack-logo {
  height: 2.4rem;
  width: 2.4rem;
  color: rgb(187, 198, 226);
}

.better-stack-text {
  color: inherit;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 500;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: inherit;
  border: none;
  background-color: rgb(11, 12, 20);
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.sign-in {
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem;
}

.btn {
  background-color: rgb(90, 103, 249);
  border: 3px solid rgb(121, 131, 238);
  color: #fff;
}

.sign-up {
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 9px;
  padding: 0.3rem;
  font-weight: 500;
}
/*Intro Section*/

.intro-section {
  background-color: rgb(11 12 20);
  padding: 9.6rem 0 9.6rem 0;
}

.intro-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(114 125 161 / 0.15);
}

.subheading {
  color: rgb(160, 167, 239);
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 4rem;
}

.heading-primary {
  font-size: 7rem;
  line-height: 7rem;
  text-align: center;
  margin: 0 auto;
  max-width: 80rem;
  margin-bottom: 3rem;
}

.intro-text {
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 0 auto;
  max-width: 40rem;
  text-align: center;
  padding-bottom: 4rem;
}

.intro-form {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 2.2rem;
}

.input {
  padding: 1.4rem;
  border-radius: 9px;
  width: 300px;
  border: 3px solid rgb(59 66 84);
  background-color: rgb(114 125 161 / 0.1);
}

.submit {
  padding: 1.4rem;
  border-radius: 9px;
  width: 200px;
  border: 3px solid rgb(59 66 84);
}

.start-free-demo-text {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: rgb(122, 123, 127);
}

.book-demo {
  color: rgba(103, 114, 231, 0.753);
  text-decoration: none;
}

.logs-metrics {
  width: 120%;
}

.intro-footer-text {
  font-size: 1.4rem;
  color: rgba(180, 187, 222, 0.725);
  line-height: 1.2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.intro-footer-img {
  width: 90%;
  margin-bottom: 4rem;
}

/*Log Section*/

.log-section {
  background-color: rgb(11 12 20);
  padding: 9.6rem 0 9.6rem 0;
}

.log-grid {
  gap: 0;
}

.log {
  display: flex;
  flex-direction: column;
  padding-left: 6.4rem;
  padding-right: 6.4rem;
  gap: 2rem 0;
  margin-bottom: 4rem;
}

.section-number {
  display: inline-block;
  max-width: fit-content;
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 550;
  text-transform: uppercase;
  border: 1px solid rgba(160, 166, 239, 0.736);
  padding: 0.6rem;
  border-radius: 2.6rem;
  background-color: rgb(36, 37, 54);
  color: rgb(155, 168, 234);
  letter-spacing: 0.2rem;
}

.log-text {
  max-width: 57rem;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: rgba(180, 187, 222, 0.725);
  z-index: 1;
}

.log-grid {
  grid-template-columns: 3fr 2fr !important;
  margin-bottom: 3rem !important;
}

.log-text-col {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.log-img-col {
  position: relative;
  overflow: visible;
  height: 62rem;
  width: 66rem;
}

.log-img {
  position: absolute;
  width: 100rem;
  top: -5rem;
  right: -10rem;
}

.span-text {
  font-size: 2rem;
  line-height: 2;
}

.log-colored-text {
  font-size: 4rem;
  line-height: 1;
  background: linear-gradient(to right, #a9c0fb, #5468ff);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.log-trird-header-text {
  color: #fff;
  font-size: 4rem;
}

.log-info-text {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 1.8;
  width: 20rem;
}

.third-header {
  border-bottom: 1px solid rgb(114 125 161 / 0.15);
  height: 14rem;
}

.img-box-grid {
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.img-box {
  border: 1px solid rgb(114 125 161 / 0.15);
  border-radius: 14px;
  overflow: hidden;
  background-color: rgb(114 125 161 / 0.1);
  width: 47rem;
  height: 50rem;
}

.img-box:first-child {
  justify-self: end;
}

.first-box-img,
.second-box-img {
  width: 100%;
  border-radius: 18px;
  padding: 0.4rem;
}

.box-info {
  padding: 5rem 4rem;
}

.img-box-heading {
  font-size: 2rem;
  line-height: 2rem;
  text-align: start;
  color: #fff;
  margin-bottom: 2.4rem;
}

.img-box-text {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: start;
  color: rgba(180, 187, 222, 0.725);
}

/*Troubleshoot Section*/

.troubleshoot-section {
  background-color: rgb(11 12 20);
  padding: 9.6rem 0 9.6rem 0;
}

.troubleshoot-header {
  border-top: 1px solid rgb(114 125 161 / 0.15);
  display: flex;
  flex-direction: column;
  padding-top: 6.4rem;
  gap: 2rem 0;
  margin-bottom: 11rem;
  position: relative;
  z-index: 1;
  height: 50rem;
  align-items: center;
  justify-content: center;
}

.background-img {
  position: absolute;
  z-index: -1;
  width: 137%;
  bottom: -11rem;
  left: -22rem;
  height: 122%;
}

.troubleshoot-number,
.troubleshoot-secondary,
.troubleshoot-heading-text {
  text-align: center;
  align-self: center;
  margin-bottom: 0.6rem;
}

.troubleshoot-box {
  position: relative;
  z-index: 1;
}

.forth-part {
  grid-column: 1 / -1;
  width: 96rem;
  height: 30rem;
  justify-self: center;
  display: flex;
  cursor: pointer;
}

.explore-flex {
  display: flex;
  margin-top: 3rem;
  color: #7d8cfd;
  font-size: 1.6rem;
  align-items: center;
  column-gap: 0.4rem;
}

.explore-ion-icon {
  font-size: 1.4rem;
  align-self: flex-end;
}

.new-icon {
  display: none;
}

.forth-part:hover .explore-ion-icon {
  display: none;
}

.forth-part:hover .new-icon {
  display: inline-block;
}

.final-box {
  grid-column: 1 / -1;
  width: 96rem;
  height: 30rem;
  justify-self: center;
  display: flex;
  border-right: none;
  border-left: none;
  border-radius: 0%;
  height: 40rem;
  margin-top: 8rem;
}

.border-none {
  border-radius: 0%;
  padding: 0;
}

.box-text-final {
  background-color: rgb(11 12 20);
  padding: 10rem 4rem;
}

.heading-final {
  font-size: 3.2rem;
  line-height: 1.2;
}

.integration-link {
  text-decoration: none;
  color: #7d8cfd;
}

.explore-flex:hover .explore-ion-icon {
  display: none;
}

.explore-flex:hover .new-icon {
  display: inline-block;
}

/*Resolve Section*/

.resolve-section {
  background-color: rgb(11 12 20);
  padding: 9.6rem 0 9.6rem 0;
}

.resolve,
.resolve-number,
.resolve-heading,
.resolve-text {
  align-items: center;
}

.resolve-text {
  text-align: center;
  margin-bottom: 8rem;
}

.resolve-first-box-image {
  position: relative;
  z-index: 1;
}

.resolve-absolite-image {
  position: absolute;
  right: 4.5rem;
  top: 6.2rem;
  border-radius: 11px;
  width: 18rem;
  height: 18rem;
}

.resolve-box-heading {
  line-height: 1.6;
  font-weight: 500;
}

.resolve-box-info {
  padding: 3rem 7rem 3rem 4rem;
}

.third-heading {
  text-align: center;
  font-size: 3.2rem;
  line-height: 1.2;
  color: #fff;
}

.container-flex {
  max-width: 85rem;
  margin-inline: auto;
}

.resolve-flex {
  margin-top: 8rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

.resolve-flex-img {
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(200deg)
    brightness(90%) contrast(100%);
  border-bottom: 1px solid #7d8cfd;
  padding-bottom: 2rem;
}

.flex-heading {
  margin-top: 2.6rem;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
}

.image-container {
  display: flex;
}

.border-container {
  border-bottom: 1px solid #7d8cfd3d;
}

.flex-text-container {
  align-items: start;
  padding: 2rem 4rem 0rem 0rem;
}

.flex-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

/*Pricing Section*/

.pricing-section {
  background-color: rgb(11 12 20);
  padding: 9.6rem 0 9.6rem 0;
}

.pricing-container {
  max-width: 90rem;
  margin-inline: auto;
  border-bottom: 1px solid rgb(114 125 161 / 0.15);
}

.pricing-box-flex {
  display: flex;
  width: 90rem;
  height: 60rem;
  padding: 0.5rem;
  border: 1px solid rgb(114 125 161 / 0.15);
  border-radius: 20px;
  background-color: rgb(114 125 161 / 0.1);
  margin-bottom: 8rem;
}

.pricing-heading {
  text-align: start;
}

.pricing-text {
  font-size: 1.6rem;
  text-align: start;
  padding: 2rem 4rem 0rem 0;
}

.pricing-footer-text {
  border-top: 2px solid rgb(114 125 161 / 0.15);
  font-size: 1.1rem;
  justify-self: end;
  text-align: center;
  padding-top: 2rem;
}

.left-pricing {
  display: flex;
  flex-direction: column;
  width: 43rem;
  background: linear-gradient(to right, rgb(114 125 161 / 0.1), rgb(11 12 20));
  border-radius: 11px;
  justify-content: space-between;
  padding: 5rem 3rem 2rem 4rem;
}

.left-pricing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2.5rem;
  flex-grow: 1;
}

.right-pricing {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  justify-items: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.right-pricing-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
}

.right-pricing-border {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid rgb(114 125 161 / 0.15);
}

.datalog-flex {
  display: flex;
  gap: 1.2rem;
}

.right-part-logo {
  width: 1.6rem;
  height: 1.6rem;
}

.right-part-header {
  font-size: 1.6rem;
  font-weight: 550;
  color: #fff;
}

.example-text {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.example-info {
  color: #fff;
  font-size: 1.6rem;
}

.rounded-full {
  border-radius: 9999px;
  height: 0.8rem;
  background-color: rgb(12, 12, 12);
  margin-top: 2rem;
}

.rounded-full-bar {
  background: linear-gradient(92.69deg, #939db8 -84.1%, #3b4154 107.01%);
  width: 100%;
  height: 0.8rem;
  border-radius: 9999px;
}

.datalog-price {
  margin-top: 1.4rem;
  font-size: 1.2rem;
}

.rounded-fourteen-percents {
  background: linear-gradient(92.69deg, #939db8 -84.1%, #3b4154 107.01%);
  width: 14.7%;
  height: 0.8rem;
  border-radius: 9999px;
}

.rounded-eleven-percents {
  background: linear-gradient(92.69deg, #939db8 -84.1%, #3b4154 107.01%);
  width: 11.5%;
  height: 0.8rem;
  border-radius: 9999px;
}

.better-stack-price {
  margin-top: 2rem;
  margin-top: auto;
  align-self: center;
  width: 85%;
  padding: 2rem;
  background: linear-gradient(0deg, #dadffc -120%, #98a4f7 125%);
  border-radius: 11px;
}

.better-stack-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.better-stack-flex-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.logo-img {
  height: 2rem;
  width: 2rem;
}

.better-stack-text-img {
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
}

.offer {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  color: #fff;
  background-color: #000;
  border-radius: 14px;
  padding: 0.4rem 0.6rem;
  height: 2.8rem;
}

.rounded-full-grey {
  border-radius: 9999px;
  height: 1rem;
  background-color: rgba(12, 12, 12, 0.186);
  margin-top: 2rem;
  border: 1px solid rgba(12, 12, 12, 0.127);
}

.rounded-five-percents {
  background: #000;
  width: 5.7%;
  height: 0.8rem;
  border-radius: 9999px;
}

.better-stack-price-text {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  color: #000;
  letter-spacing: 0.05rem;
}

/*Register Section*/
.register-section {
  background-color: rgb(11 12 20);
  padding: 9.6rem 0 16.6rem 0;
}

.better-stack-final-logo {
  width: 15%;
}

.final-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-text {
  font-size: 1.6rem;
}

.final-header {
  margin-bottom: 2rem;
}

/*Footer Section*/
.footer-section {
  background-color: rgb(11 12 20 / 0.99);
  padding: 2rem 0 9.6rem 0;
  border-top: 1px solid rgb(114 125 161 / 0.15);
  border-bottom: 1px solid rgb(114 125 161 / 0.15);
}

.grid-container {
  max-width: 110rem !important;
}

.footer-grid {
  grid-template-columns: 2fr 2fr !important;
  gap: 1rem;
}

.footer-left-col {
  row-gap: 6rem;
  column-gap: 6rem;
}

.footer-right-col {
  margin-left: 6rem;
}

.first-col,
.second-col,
.third-col,
.forth-col,
.fifth-col,
.sixth-col,
.seventh-col {
  row-gap: 2rem;
}

.forth-col {
  margin-right: 2rem;
}

.a-header {
  font-size: 1.5rem;
  color: #fff;
}

.a-text {
  font-size: 1.4rem;
  line-height: 1.3;
  text-decoration: none;
  color: rgba(187, 198, 226, 0.651);
}

/*Footer*/

.footer {
  background-color: rgb(11 12 20);
  padding: 6rem 0 9.6rem 0;
}

.footer-container {
  justify-self: center;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.contact-info {
  gap: 1.5rem;
  justify-content: flex-end;
  flex-grow: 1;
  justify-content: space-evenly;
}

.better-stack-footer-info {
  max-width: 340px;
}

.footer-top-flex {
  padding: 0rem 1.5rem 2rem 1.5rem;
  gap: 14rem;
  border-bottom: 1px solid rgb(114 125 161 / 0.15);
}

.final-logo {
  width: 55%;
}

.better-stack-footer-text {
  font-size: 1.4rem;
  padding-left: 1.3rem;
  line-height: 1.8;
}

.contact-phone-email {
  gap: 3rem;
  text-decoration: none;
  font-size: 1.4rem;
  align-items: end;
  padding-bottom: 0.5rem;
}

.contact-number {
  color: inherit;
}

.contact-email {
  color: inherit;
}

.contact-social-networks {
  flex-grow: 1;
}

.social-links {
  flex-grow: 1;
  gap: 1.6rem;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 0.5rem;
}

.social-links {
  list-style: none;
}

.social-icon {
  height: 1.8rem;
  width: 1.8rem;
  color: rgba(180, 187, 222, 0.725);
}

.footer-bottom-flex {
  padding-top: 1.8rem;
  padding-left: 2.8rem;
  padding-right: 1rem;
  justify-content: space-between;
}

.footer-bottom-left {
  align-items: center;
  gap: 2.4rem;
  font-size: 1.2rem;
}

.footer-bottom-a {
  text-decoration: none;
  color: inherit;
}

.system-status {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.4rem;
}

.svg-img {
  width: 1.4rem;
  height: 1.4rem;
  display: inline;
}

.copyright {
  font-size: 1.2rem;
}

.footer {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
